/* Add a black background color to the top navigation */
* {
   margin: 0px;
   padding: 0px;
}
.menuItem {
  background-color: #000000;
  overflow: hidden;
  height: 80px;
  text-align: center; 
  width: 1050px;
  vertical-align: middle;
  display: table-cell;
}

/* Style the links inside the navigation bar */
.menuItem a {
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  top: 50%;
  text-shadow: 0 0 2px #FC0301;
    font-family: "Comfortaa";
  
    
}

/* Change the color of links on hover */
.menuItem a:hover {
/*  background-color: #ddd;*/
  color: orange;
}

/* Add a color to the active/current link */
.menuItem a.active {
  color: white;
}

.section1 {
}

.centered {
  width: 1050px;
  height: 300px;
  position:relative;
    
/*    text-align:center;*/
}

.section1 img {
    object-fit: cover;
    height : 300px;
    width: 1050px;
    object-position: 50% 83%;
/*    position:relative;*/
}

.section1 p {
    left: 0;
    position:absolute;
    text-align:center;
    top: 37%;
    width: 100%;
    font-size: 26px;
    color: orange;
    font-family: "Comfortaa";
    text-shadow: 1px 1px white;
}

.section2 {
  text-align: center;
  width: 1050px;
  height: 600px;
/*  position:relative;*/
  background-color: #21252A;
}

#section2-table {
  margin: auto;
  padding-top: 100px;
  height: 300px;
  border-spacing: 1em 0;
}

#section2-table td { 
  background-color: black;
  width: 120px;
  height: 140px;
  text-align: center;   
 border: 2px solid black;
}

.section2 img{
    
  margin: 10px 10px 10px 10px;
  width: 230px;
  height: 140px;
}
.section2 p{
   margin: 10px 10px 10px 10px;
  color: #f2f2f2;
  text-align: left;
    height: 160px;
    font-family: "Comfortaa";
    font-size: 13px;
}
.section2 h1 {
  margin: 0px 10px 10px 10px;
    font-size: 14px;
  text-align: left;
  color: #f2f2f2;
    font-family: "Comfortaa";
}


.section3 {
  text-align: center;
  width: 1050px;
  height: 450px;
  background-color: #12141C;
}

#section3-table {
  margin: auto;
  padding-top: 100px;
  height: 300px;
  border-spacing: 1em 0;
  width: 800px;
}

.section3 p {
    color: white;
    height: 200px;
    text-align: justify;
    width: 500px;
    font-family: "Comfortaa";
    font-size: 14px;
}

.section3 img {
    width: 350px;
    height: 200px;
    
}

.section4 {
  text-align: center;
  width: 1050px;
  height: 550px;
  background-color: #21252A;
}



#section4-table {
  margin: auto;
  padding-top: 50px;
  height: 300px;
}



.first{
 margin-left: 20px;
 text-align: left;
 color: white;
 width: 500px;
}

.second{
   text-align: right;  
    color: white;
    width: 500px;
/*    margin-top: 26px;*/
   
}
.section4 h1 {
    font-size: 20px;
    font-family: "Comfortaa";
    padding-bottom: 24px;
}

.section4 p {
    font-size: 12px;
    font-family: "Comfortaa";
}

.section4P {
    width: 51%;
    display:inline-block;
}
.section4 p {
   text-align: justify;
}

.section4Image {
    height: 180px;
    width: 250px;
    display:inline-block;
    margin-bottom: 30px;
}

.section4 img {
    height: 160px;
    width: 250px;
    
}

.section5 {
  text-align: center;
  width: 1050px;
  height: 200px;
  background-color: #12141C;
    color: white;
}

.section5 ul {
  list-style-type:none;
}

.section5 h {
  font-family: "Comfortaa";
    font-size: 14px;
}
.section5 p {
  font-family: "Comfortaa";
    font-size: 12px;
}
.section5 a {
  font-family: "Comfortaa";
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.quote {
    font-size: 12px;
    text-align: center;
}
#quote1 {
    font-size: 10px;
}

#section5-table {
  margin: auto;
  padding-top: 10px;
  height: 200px;
  width: 800px;
}