 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Passionate software developer | Full of interesting ideas | Make a better world</p>
                </div>
                <div class="col-lg-4">
                    <p>Keep enthusiastic, keep starving, keep fit, keep moving forward</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/resume.pdf" class="btn btn-lg btn-outline" download>
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
